<header class="navbar">
    <div class="container nav-flex">
        <!-- Logo Group -->
        <div class="logo-group">
            <img class="logo-image logo-img" src="assets/logo2.png" alt="Logo TIGPAD">
            <h1 class="logo">TIGPAD</h1>
        </div>

        <!-- Hamburger Button -->
        <button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!-- Navigations -->
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Beranda</a></li>
                <li><a href="tentang.html">Tentang TIGPAD</a></li>
                <li><a href="divisi.html">Divisi</a></li>
                <li><a href="profile.html">Profile/Dokumentasi</a></li>
            </ul>
        </nav>
    </div>
</header>